<section>
    <article>
        <h3>Interpolation</h3>
        <p>Attribute from component class: {{ url }}</p>
        <p>Expression. 1 + 1 = {{ 1+1 }}</p>
        <p>Function from component class. 1 + 1 is not {{ getValor() }}</p>
        <p>Expressions: {{ likedCourse && getLikedCourse() }}</p>
    </article>

    <article>
        <h3>Property Binding</h3>
        
        <!-- Interpolation -->
        <p>This:</p>
        <img src="{{ imageUrl }}"> 

        <!-- Property Binding -->
        <p>Is the same as:</p>
        <img [src]="imageUrl">
    </article>

    <article>
        <h3>Class & Style Binding</h3>
        <select #class (change)="0">
            <option value="alert-success">Success</option>
            <option value="alert-info">Info</option>
            <option value="alert-warning">Alert</option>
            <option value="alert-danger">Error</option>
        </select>
        <br><br>

        <p>Example 1</p>

        <div class="alert {{ class.value }}">Rainbow Box</div>

        <hr>

        <p>Example 2</p>

        <div class="alert" [class.alert-success]="class.value == 'alert-success'">Success</div>
        <div class="alert" [class.alert-info]="class.value == 'alert-info'">Info</div>
        <div class="alert" [class.alert-warning]="class.value == 'alert-warning'">Alert</div>
        <div class="alert" [class.alert-danger]="class.value == 'alert-danger'">Error</div>

        <hr>

        <p>Example 3 - Style Binding</p>

        <div class="alert alert-danger" [style.display]="class.value == 'alert-danger' ? 'block' : 'none'">Error</div>
    </article>
</section>

<section class="event-binding">
    <article>
        <h3>Event Binding</h3>

        <div>
            <button (click)="buttonClicked()">Click Me</button>

            <br><br>

            <input
                type="text"
                (keyup)="onKeyUp($event)"
                (keyup.enter)="saveValue(inputField.value)"
                (blur)="saveValue(inputField.value)"
                #inputField
            />

            <p>Current Value: {{ curValue }}</p>
            <p>Saved Value: {{ savedValue }}</p>
        </div>
    </article>
</section>